*{
    font-family: 'Thasadith', sans-serif;
}
body{
    background-image: url('../assets/img/pozadina.png');
}
.btn-success{
    background-color: #64698E;
    border-color: #64698E;
}
.btn-success:hover{
    background-color: #6c729b;
    border-color: #6c729b;
}
.btn-danger{
    background-color: #8A0000;
    border-color: #8A0000;
}
.btn-danger:hover{
    background-color: #990000;
    border-color: #990000;
}
#logo{
    width: 400px;
}
.cart-img{
    width: 100px;
}
.recipes-header-img{
    width: 120px;
}
/* .nav-link{
    cursor: pointer;
} */
.nav-link img{
    width: 100px;
}
/* Checkbox Styling -> Start */
ul{
    list-style-type: none;
}
.checkbox_holder {
    height: 50px;
}
.checkbox_holder label {
    background-color: #fff;
    border: 2px solid #D1C0AC;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 24px;
}
.checkbox_holder label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 14px;
}
.checkbox_holder input[type="checkbox"] {
    visibility: hidden;
}
.checkbox_holder input[type="checkbox"]:checked + label {
    background-color: #D1C0AC;
    border-color: #D1C0AC;
}
.checkbox_holder input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
/* Checkbox Styling -> End */